# Core Packages
streamlit==1.44.1
pandas==2.2.3
numpy==2.1.1
pillow==11.1.0
requests==2.32.3
scikit-learn==1.6.1
joblib==1.4.2

# Computer Vision
opencv-python-headless==4.11.0.86

# Deep Learning
torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.69

# Utilities
python-dateutil==2.9.0
tqdm==4.67.1
pyyaml==6.0.2
