torch
opencv-python-headless
scikit-learn
opencv-python
torch==2.6.0
torchvision==0.21.0
streamlit==1.44.1
numpy==2.2.4
pandas==2.2.3
Pillow==11.1.0
matplotlib==3.10.1
seaborn==0.13.2
ultralytics==8.3.69
joblib==1.4.2
tqdm==4.67.1
scipy==1.15.2
pyyaml==6.0.2
requests==2.32.3
openpyxl
